@use "../Variables/variables";

// Les Mixins
@mixin Roboto_300 {
    font-family: variables.$font2;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
@mixin Roboto_400 {
    font-family: variables.$font2;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@mixin Roboto_500 {
    font-family: variables.$font2;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@mixin Roboto_700 {
    font-family: variables.$font2;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@mixin Roboto_900 {
    font-family: variable.$font2;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
@mixin Shrikhand_300 {
    font-family: variables.$font1;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
@mixin Shrikhand_400 {
    font-family: variables.$font1;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}
@mixin Button-Gradient {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);;
}
@mixin Button-Color {
    background:linear-gradient(193deg, $color 11.44%, #FF79DA 123.93%);
}
