section {
    display: flex;
    border: 2px solid red;
    height: 1307;
    width: 375px;

    .background1 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .Menu-container {
        border-radius: 20px;
        background: #FEFEFE;

        h3 {
            //@include Shrikhand;
            font-weight: 400;
            font-size: 28px;
        }
    }
}