header {
        display: flex;
        justify-content: center;
        width: 375px;
        height: 63px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .logo {
            display: flex;
            height: 44px;
            width: 162px;
            padding: 0 19px 0 16px;
            gap: 42px;
        }

        i.fa-arrow-left {
            height: 30px;
            width: 30px;
        }
    }

section {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 375px;
    background: $color5;

            .background1 {
                display: flex;
                flex-direction: column;
                align-items: stretch;

                img {
                    display: flex;
                    flex-direction: absolute;
                    transform: scaleZ(-999999);
                }
            }

    .Menu-container {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: $color5;
        margin-top: -20px;
        transform: scaleZ(999999);

        .Entree {
            display: flex;
            flex-direction: column;

            h2 {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                @include Shrikhand_400;
                font-size: 28px;
                margin-top: 30px;
            }
                
            h4 {
                display: flex;
                text-transform: uppercase;
                @include Roboto_300;
                font-size: 16px;
                padding: 10px;
                height: 27px;
                width: 275px;
                padding-bottom: 5px;
            }
            .Line-h4 {
                display: flex;
                border-bottom: 3px solid $color4;
                width: 40px;
                height: 3px;
                margin: 0 10px;
            }

            .Card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 10px;
                    height: 69px;
                    width: 349px;
                    border-radius: 20px;
                    background: #FFFFFF;
                
                .Card-Menu {
                    display: flex;
                    padding: 15px;
                    height: 42px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 5px;
                    flex: 1 0 0;

                    h4 {
                        @include Roboto_900;
                        font-size: 18px;
                        text-transform: none;
                        text-decoration: none;
                        margin: 0;
                        text-overflow: ellipsis;
                    }
                    p {
                        display: flex;
                        margin: 0 0 10px 10px;
                    }
                    }

            }
        }

        .Plats, .Desserts {

            h4 {
                display: flex;
                text-transform: uppercase;
                padding: 10px;
                text-decoration: underline;
                padding-bottom: 5px;
                text-underline-offset: 10px;
                text-decoration-color: $color2;
            }

            .Card {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    border-radius: 20px;
                    background: #FFFFFF;

                h4 {
                    @include Roboto_900;
                    font-size: 18px;
                    text-transform: none;
                    text-decoration: none;
                    margin: 0;
                }
                p {
                    display: flex;
                    margin: 0 0 10px 10px;
                }
            }   
        }

    }
    .button-central {
        width: 218px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 25px;
        color: white;
        //@include Roboto;
        @include Button-Color;
        font-size: 16px;
        font-weight: bold;
        margin: 27px 75px 57px 82px;
        border: 0px;
    }
       
    .button-central:hover {
        width: 218px;
        height: 50px;
        flex-shrink: 0;
        @include Button-Gradient;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    }
}
