@font-face {
    font-family: "Shrikhand";
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Black.ttf);
}

//Variable
$font1: Shrikhand, sans-serif;
$font2: Roboto, sans-serif;

$color: #9356DC;
$color1: #003A68;
$color2: #89C8FA;
$color3: #008766;
$color4: #99E2D0;
$Grey1: #353535;
$Grey2: #EAEAEA;

// Les Mixins
@mixin footer_titre {
    display: flex;
    width: 139px;
    height: 27px;
    padding-right: 0;
    justify-content: center;
    align-items: center;
}

@mixin footer_Txt {
    font-family: $font2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    text-align: center;
    font-family: $font1;
    background: white;
}
