@font-face {
    font-family: "Shrikhand";
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

//Variable
$font1: Shrikhand, sans-serif;
$font2: Roboto, sans-serif;

$color: #9356DC;
$color1: #003A68;
$color2: #89C8FA;
$color3: #008766;
$color4: #99E2D0;
$color5: #F6F6F6;
$Grey1: #353535;
$Grey2: #EAEAEA;
$Grey3 : #7E7E7E;
$Gradient: linear-gradient(193deg, $color 11.44%, #FF79DA 123.93%);

// Les Mixins
@mixin footer_titre {
    font-family: $font1;
    display: flex;
    width: 139px;
    height: 27px;
    padding-right: 0;
    align-items: center;
}
@mixin footer_Txt {
    font-family: $font2;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}
@mixin header_span {
    font-family: $font2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@mixin Roboto {
    font-family: $font2;
    font-style: normal;
    line-height: normal;
}
@mixin Button-Gradient {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);;
}
@mixin Button-Color {
    background:linear-gradient(193deg, $color 11.44%, #FF79DA 123.93%);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $font1;
    background: white;
}