* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: red;
  background: white;
}

@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  height: 113px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  width: 197px;
  margin: 14px 89px 13px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: white;
}
header .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #EAEAEA;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .fa-location-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

section {
  width: 375px;
  height: 1952px;
}
section .header-reserv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 284px;
  background-color: #F6F6F6;
}
section .header-reserv .h4-central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  width: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  font-weight: 700;
  margin: 39px 58px 0 42px;
}
section .header-reserv .h5-central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 315px;
  height: 46px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  margin: 0;
  font-weight: 300;
  color: #353535;
}
section .header-reserv .button-central {
  width: 218px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 25px;
  color: white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  background: linear-gradient(193deg, #9356DC 11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-weight: bold;
  margin: 27px 75px 57px 82px;
  border: 0px;
}
section .header-reserv .button-central:hover {
  width: 218px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
section .header-fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 375px;
  height: 440px;
  background-color: white;
}
section .header-fonction h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 275px;
  height: 31px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 48px 80px 26px 20px;
}
section .header-fonction ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24.92px;
}
section .header-fonction li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 322.486px;
  height: 72.379px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: bold;
}
section .header-fonction li .w3-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: #9356DC;
  border-radius: 50%;
  left: -15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 14.182px;
}
section .header-fonction li .fa-solid {
  color: #7E7E7E;
}
section .header-fonction li .fa-solid.fa-store {
  color: #9356DC;
}
section .restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  height: 1228px;
  width: 375px;
  background-color: #F6F6F6;
}
section .restaurants h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 275px;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  font-weight: 700;
  margin: 54px 80px 0 20px;
}
section .restaurants .card {
  height: 251px;
  width: 340px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
section .restaurants .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  width: 340px;
  height: 251px;
}
section .restaurants .card .card-body img {
  background: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover, lightgray 50% no-repeat;
  width: 338px;
  height: 170px;
  border-radius: 15px 15px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
section .restaurants .card .card-body h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  font-weight: 700;
  Margin: 16px 60px 41px 13px;
}
section .restaurants .card .card-body h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  width: 247px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 17px;
  font-weight: 300;
  margin-top: -34px;
  margin-left: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .restaurants .card .card-body .body-card-bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 77px;
  width: 340px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
section .restaurants .card .card-body .body-card-bas .card-bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 294px;
}
section .restaurants .card .card-body .body-card-bas i.fa-regular.fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scale: 1.5;
  margin-bottom: 28px;
}
section .restaurants .card .card-body .body-card-bas i.fa-regular.fa-heart:hover {
  background: linear-gradient(193deg, #9356DC 11.44%, #FF79DA 123.93%);
}

footer {
  background: #353535;
  max-width: 360px;
  width: 375px;
  height: 186px;
  padding: 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}
footer .logo-footer {
  width: 138px;
  height: 27px;
}
footer .logo-footer img {
  width: 100%;
  opacity: initial;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  gap: 7px;
}
footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
li:nth-child(1) footer :nth-child(2) {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}
li:nth-child(3) footer :nth-child(4) {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 375px;
  height: 63px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid green;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 162px;
  padding: 0 19px 0 16px;
  gap: 42px;
  border: 2px solid blue;
}
header i.fa-arrow-left {
  height: 30px;
  width: 30px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid red;
  height: 1307;
  width: 375px;
}
section .background1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
section .Menu-container {
  border-radius: 20px;
  background: grey;
  border: 2px solid green;
}
section .Menu-container h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  border: 2px solid blue;
}
section .Menu-container Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section .Menu-container Menu card {
  border: 2p solid violet;
}

footer {
  background: #353535;
  max-width: 360px;
  width: 375px;
  height: 186px;
  padding: 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border: 3px solid blue;
}
footer .logo-footer {
  width: 138px;
  height: 27px;
}
footer .logo-footer img {
  width: 100%;
  opacity: initial;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  gap: 7px;
}
footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
li:nth-child(1) footer :nth-child(2) {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}
li:nth-child(3) footer :nth-child(4) {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */