@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Shrikhand, sans-serif;
  background: white;
}

header {
  display: flex;
  width: 375px;
  height: 113px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 197px;
  margin: 14px 89px 13px;
  flex-shrink: 0;
  background: white;
}
header .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
header span {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  background: #EAEAEA;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .fa-location-dot {
  display: flex;
  gap: 10px;
}

section {
  width: 375px;
  height: 2252px;
}
section .header-reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 284px;
  background-color: #F6F6F6;
}
section .header-reserv .h4-central {
  display: flex;
  height: 68px;
  width: auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  font-weight: 700;
  margin: 39px 58px 0 42px;
}
section .header-reserv .h5-central {
  display: flex;
  width: 315px;
  height: 46px;
  text-align: center;
  flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  margin: 0;
  font-weight: 300;
  color: #353535;
}
section .header-reserv .button-central {
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC 11.44%, #FF79DA 123.93%);
  color: white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: bold 500;
  margin: 27px 75px 57px 82px;
  border: 0px;
}
section .header-reserv .button-central:hover {
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
section .header-fonction {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  width: 375px;
  height: 440px;
  border: 1px solid red;
}
section .header-fonction h3 {
  display: flex;
  width: 275px;
  height: 31px;
  flex-shrink: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 48px 80px 26px 20px;
}
section .header-fonction ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24.92px;
}
section .header-fonction li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 322.486px;
  height: 72.379px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: bold;
}
section .header-fonction li .fa-solid {
  color: #7E7E7E;
}
section .header-fonction li .fa-solid.fa-store {
  color: #9356DC;
}
section .restaurants {
  border: 2px solid cyan;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  height: 2000px;
  width: 375px;
}
section .restaurants .card {
  height: 251px;
  width: 340px;
  flex: shrink 0;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
section .restaurants .card img {
  border: 2px solid red;
  background: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover, lightgray 50% no-repeat;
  width: 346px;
  height: 171px;
  flex-shrink: 0;
}

footer {
  background: #353535;
  max-width: 360px;
  width: 375px;
  height: 186px;
  padding: 22px 25px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  color: white;
}
footer h4 {
  display: flex;
  width: 139px;
  height: 27px;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
li:nth-child(1) footer :nth-child(2) {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}
li:nth-child(3) footer :nth-child(4) {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */