section {
    display: flex;
    border: 2px solid red;
    height: 1307;
    width: 375px;

    .background1 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    div.Menu-container {
        border: 2px solid green;
        border-radius: 20px;
        background: $color5;
    }
}