
footer {
    background: $Grey1;
    max-width: 360px;
    width: 375px;
    height: 186px;
    padding: 22px 25px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    color:white;

    .logo-footer {
        width: 137.582px;
        height: 27px;

        img {
            width: 100%;
            opacity: initial;
            filter: opacity(0.9) drop-shadow(0 0 0 white);
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }
    li:nth-child(1) & :nth-child(2){
        @include footer_Txt;
        font-weight: 500;
    }
    li:nth-child(3) & :nth-child(4) {
        @include footer_Txt;
        font-weight: 400;
    }
}