section {
    width: 375px;
    height: 1230px;

    .header-reserv {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 284px;
        background-color: $color5;

            .h4-central {
                display: flex;
                height: 68px;
                width: auto;
                @include Roboto;
                font-size: 24px;
                font-weight: 700;
                margin: 39px 58px 0 42px;
            }
            .h5-central {
                display: flex;
                width: 315px;
                height: 46px;
                text-align: center;
                flex-shrink: 0;
                @include Roboto;
                font-size: 18px;
                margin: 0;
                font-weight: 300;
                color: $Grey1;
            }
            .button-central {
                width: 218px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 25px;
                background: linear-gradient(193deg, $color 11.44%, #FF79DA 123.93%);
                color: white;
                @include Roboto;
                font-size: 16px;
                font-weight: bold 500;
                margin: 27px 75px 57px 82px;
                border: 0px;
            }
            .button-central:hover {
                width: 218px;
                height: 50px;
                flex-shrink: 0;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
                box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
            }
        }
    .header-fonction {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: stretch;
        width: 375px;
        height: 440px;
        background-color: white;

            h3 {
                display: flex;
                width: 275px;
                height: 31px;
                flex-shrink: 0;
                @include Roboto;
                font-weight: 700;
                font-size: 24px;
                margin: 48px 80px 26px 20px;
            } 
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24.92px;
            }
            li {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                gap: 30px;
                width: 322.486px;
                height: 72.379px;
                flex-shrink: 0;
                border-radius: 20px;
                background: $color5;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                @include Roboto;
                font-size: 16px;
                font-weight: bold;

                .w3-badge {
                    display: flex;
                    position: absolute;
                    background: $color;
                    border-radius: 50%;
                    left: -15px;
                    @include Roboto;
                    font-size: 14.182px;
                }
            } 
            li .fa-solid {
                color: $Grey3;
            }
            li .fa-solid.fa-store {
                color: $color;
            }
        }   
    .restaurants {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 18px;
                height: 100%;
                width: 375px;
                background-color: $color5;

                h2 {
                    display: flex;
                    width: 275px;
                    height: auto;
                    flex-shrink: 0;
                    @include Roboto;
                    font-size: 24px;
                    font-weight: 700;
                    margin: 54px 80px 0 20px;
                }

                .card {
                    height: 251px;
                    width: 340px;
                    border-radius: 15px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

                    .card-body {
                        display: flex;
                        flex-direction: column;
                        border-radius: 15px;
                        width: 340px;
                        height: 251px;
                    
                        img {
                            background: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover, lightgray 50% no-repeat;
                            width: 338px;
                            height: 170px;
                            border-radius: 15px 15px 0 0;
                            flex-shrink: 0;
                        }
                        h5 {
                            display: flex;
                            height: 267px;
                            height: 20px;
                            @include Roboto;
                            font-size: 18px;
                            font-weight: 700;
                            Margin: 16px 60px 41px 13px;
                        }
                        h6 {
                            display: flex;
                            height: 24px;
                            width: 247px;
                            @include Roboto;
                            font-size: 17px;
                            font-weight: 300;
                            margin-top: -34px;
                            margin-left: 13px;
                            align-items: center;
                        }
                    }
                }
        }
}