section {
    width: 375px;
    height: 2252px;
    border: 2px solid green;

    .header-reserv {
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 375px;

            .h4-central {
                display: flex;
                height: 68px;
                width: auto;
                @include Roboto;
                font-size: 24px;
                font-weight: 700;
                padding: 38px;
                border: 2px solid yellowgreen;
            }
            .h5-central {
                display: flex;
                width: 315px;
                height: 46px;
                text-align: center;
                flex-shrink: 0;
                @include Roboto;
                font-size: 18px;
                font-weight: 300;
                color: $Grey1;
                border: 2px solid violet;
            }
            .button-central {
                width: 218px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 25px;
                background: linear-gradient(193deg, $color 11.44%, #FF79DA 123.93%);
                color: white;
                @include Roboto;
                font-size: 16px;
                font-weight: 500;
                border: 0px;
            }
        .header-fonction {
            border: 2px solid red;
        }
    }
    .header-fonction {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: stretch;
        width: 375px;
        height: 440px;

            h3 {
                display: flex;
                width: 275px;
                height: 31px;
                flex-shrink: 0;
                @include Roboto;
                font-weight: 700;
                font-size: 24px;
                margin: 48px 80px 26px 20px;
                } 
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24.92px;
            }
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                width: 322.486px;
                height: 72.379px;
                flex-shrink: 0;
                border-radius: 20px;
                background: $color5;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                @include Roboto;
                font-size: 16px;
                font-weight: 500;
            } 
            li .fa-solid {
                color: $Grey3;
            }
            li .fa-solid.fa-store {
                color: $color;
            }

           li:before {
            content:"1";
            position: absolute;
            height: 14.545px;
            width: 15.273px;
            flex-shrink: 0;
            left: 235px;
            border-radius:15px;
            border: 1px solid $color;
            color: white;
            background:$color;
            @include Roboto;
            font-size: 14.182px;
            font-weight: 500;
            line-height: normal;
        }
        
           

        }   
    .restaurants {
                border: 2px solid cyan;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 18px;
                height: 2000px;
                width: 375px;

                .card {
                    height: 251px;
                    width: 340px;
                    flex: shrink 0;
                    border-radius: 15px;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

                    img {
                        border: 2px solid red;
                        background: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover, lightgray 50% no-repeat;
                        width: 346px;
                        height: 171px;
                        flex-shrink: 0;
                    }
                }
        }
}